*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
nav{
    overflow: hidden;
    background-color: black;
}
nav a{
    float: left;
    display: flex;
    text-decoration: none;
    padding: 20px;
    color: white;
}
nav a:hover{
    background-color: gray;
    color: azure;
}
section{
    background-color: coral;
    padding: 10px 0;
}
div{
    display: flex;
    height: 200px;
}
div p{
    flex: 1;
    height: 200px;
}
footer{
    clear: both;
    padding: 20px;
    background-color: blanchedalmond;
}
